<div class="thl-popup-padded-content">
  <h2><%= @note.title %></h2>
  <p>
<%= ts(:by, :whom => @note.authors.collect(&:fullname).join(", ")) if @note.authors.size > 0 %> (<%= @note.updated_at.to_date.to_formatted_s(:long) %>)
  </p>
  <div>
<%= @note.content %>
  </div>
</div>