<% add_breadcrumb_item features_link
   add_breadcrumb_item feature_link(@parent_object) if @parent_object
   add_breadcrumb_item Topic.human_name(:count => :many).s %>
<div>
  <div class="right highlight">
<% if parent? %>
<%=  new_item_link [@parent_object, :category_feature] %>
<% else %>
<%=  ts 'snippet.characteristic_needs_feature' %>
<% end %>
  </div>
</div>
<br class="clear"/>
<%= render :partial => 'list', :locals => { :list => @collection } %>