<% add_breadcrumb_item features_link
   add_breadcrumb_item feature_link(@parent_object) if @parent_object
   add_breadcrumb_item collection_name %>
<div>
  <div class="right highlight">
<%  if parent? %>
<%=   new_item_link [@parent_object, :feature_object_type] %>
<%  else %>
<%=   ts 'creat.e.requirement', :what => FeatureRelation.model_name.human, :whom => Feature.model_name.human %>
<%  end %>
  </div>
</div>
<br class="clear"/>
<%= render :partial => 'list', :locals => { :list => @collection } %>