<fieldset>
	<legend>Location:</legend>
	
		<div class="row">
			<%= f.label :latitude %>
			<%= f.text_field :lat, :class => :text %>
		</div>

		<div class="row">
			<%= f.label :longitude %>
			<%= f.text_field :lng, :class => :text %>
		</div>
	
</fieldset>