<% if list.empty? %>
	<%= empty_collection_message %>
<% else %>

<table class="listGrid">

	<tr>
		<th class="listActionsCol"></th>
		<th>Name</th>
		<th>Type</th>
		<th>Language</th>
		<th>Script</th>
		<th>Relationship</th>
		<th>Priority</th>
		<th>Notes</th>
		<th>Add Note</th>
		<th>Dates</th>
		<th>Add Date</th>
	</tr>

	<%= pagination_row :colspan=>8 unless @collection.nil? %>

	<%= feature_name_tr(@feature) %>

</table>
<% end %>