<%
add_breadcrumb_item features_link
add_breadcrumb_item feature_link(@object.feature)
add_breadcrumb_item feature_names_link(@object.feature)
add_breadcrumb_item link_to(@object.name, admin_feature_name_path(@object))
add_breadcrumb_item 'edit'
%>
<div>
<h1>Editing Feature Name: <%= @object %></h1>
</div>
<br class="clear"/>

<% form_for @object, :url=>admin_feature_name_path(@object), :html=>{:method=>:put} do |f| %>
	<%= render :partial=>'form_fields', :locals=>{:f=>f} %>
	<%= link_to 'Cancel', admin_feature_name_path(@object) %> | <%= submit_tag 'Update' %>
<% end %>
