<p class='description-author'>
	<% if strip_tags(d.content).length < 1000 %>
		<%= link_to_remote "<span class='descriptionplus_icon'>.</span> #{description_name(d)}", {:url => expand_feature_description_path(feature,d),  :method => 'get'} %>
	<% else %>
		<%= link_to_function "<span class='descriptionplus_icon'>.</span> #{description_name(d)}", "ThlTabs.addAndSelectTab('essays', 'Essays', '#{feature_description_url(feature.id, d.id)}');NodeMenu.hideMenu()" %>
	<% end %>	
</p>
