<p class='description-author'>
	<%=   link_to_remote "<span class='descriptionminus_icon'>.</span> #{description_name(d)}", {:url => contract_feature_description_path(feature,d), :update => "#{d.id}_descdiv", :method => 'get'}  %>	
</p>
<div class='expanded' id="desc_truncated_<%= d.id %>">
	<%= truncate_html(d.content, 1000,
		'... ' + link_to_function( 'Read more', "ThlTabs.addAndSelectTab('essays', 'Essays', '#{feature_description_url(feature.id, d.id)}');NodeMenu.hideMenu()" )) %>
</div>