<% feature.descriptions.order('is_primary DESC, title').each do |d| %>
   <div id="<%= "#{d.id}_descdiv" %>">
<%   if description.nil?
       # Temporarily only showing contracted, while HTML truncation is fixed
%><%=  render :partial => 'descriptions/contracted', :locals => {:feature => feature, :d => d} %>
<%   else
       # Temporarily only showing contracted, while HTML truncation is fixed
%><%=  render :partial => 'descriptions/contracted', :locals => {:feature => feature, :d => d} %>
<%   end %>
   </div>
<% end %>
