<% if @feature.descriptions.length > 0 %>
	<p>
		View other essays:
		<% description_options = @feature.descriptions.collect{|desc|
				[strip_tags(description_simple_title(desc)), feature_description_url(@feature, desc)]
			}.sort %>
		<%= select_tag :description_menu, options_for_select(description_options, feature_description_url(@feature.id, @description.id)), :onchange => "window.location = jQuery(this).val()" %>
	</p>
<% end %>
<div id="descriptions_div">
	<h2>
		<%= description_title(@description).s %>
	</h2>
	<%= note_popup_link_for(@description) %>
	<div>
		<%= @description.content %>
	</div>
</div>