<%= render :partial => "features/top" %>
<div id="FeatureDescription">
  <div class="has-right-margin">
<%= render :partial => "show" %>
  </div>
</div>
<%= javascript_on_load "document.title = '#{ts 'app.short'} - #{description_simple_title(@description)}'" %>
<%= render :partial => "features/bottom" %>