<%
add_breadcrumb_item link_to(collection_name, collection_path)
add_breadcrumb_item @object
%>

<fieldset>
	
	<legend>
		<%= model_name.titleize %>
		<%= link_to 'Edit', edit_object_path(@object) %>
	</legend>
	
	<div class="row">
		<label>Name</label>
		<span><%= def_if_blank(@object, :title) %></span>
	</div>
	
</fieldset>