<% add_breadcrumb_item(features_link) if parent_type.to_s =~ /feature/
   add_breadcrumb_item(feature_link(@parent_object)) if parent_type==:feature
   add_breadcrumb_item AssociationNote.model_name.human(:count => :many).titleize.s %>
<div>
  <div class="left">
<%= resource_search_form %>
  </div>
  <div class="right highlight">
<%= parent_resource_dependency_message %>
  </div>
</div>
<br class="clear"/>
<%= render :partial => 'list', :locals => { :list => @collection } %>