<%
add_breadcrumb_item link_to (collection_name, collection_path)
add_breadcrumb_item @blurb
%>

<fieldset>
	
	<legend>
		Blurb
		<%= link_to 'Edit', edit_object_path(@blurb) %>
	</legend>
	
	<div class="row">
		<label>Title</label>
		<span><%= def_if_blank(@blurb, :title) %></span>
	</div>
	
	<div class="row">
		<label>Code</label>
		<span><%= def_if_blank @blurb, :code %></span>
	</div>
	
	<div class="row">
		<label>Content</label>
		<span><%= def_if_blank @blurb, :content %></span>
	</div>
	
</fieldset>