<% if parent?
     add_breadcrumb_item features_link
     add_breadcrumb_item feature_link(@parent_object.feature)
     add_breadcrumb_item link_to(FeatureName.human_name(:count => :many).s, admin_feature_feature_names_path(@parent_object.feature))
     add_breadcrumb_item link_to(@parent_object.name, admin_feature_name_path(@parent_object))
   end
   add_breadcrumb_item ts('relation.this', :count => :many) %>
<div>
  <div class="left">
<%= resource_search_form %>
  </div>
  <div class="right highlight">
<%  if parent? %>
<%=   link_to ts('snippet.feature.name.selection', :what => highlight(@parent_object.name)), locate_for_relation_admin_feature_name_path(@parent_object) %>
<%  else %>
<%=   ts 'snippet.feature.name.relation' %>
<%  end %>
  </div>
</div>
<br class="clear"/>
<%= render :partial => 'relations_list', :locals => { :list => @collection } %>