<h1>Feature ID Generator</h1>
<p><%= @message %></p>
<p>&nbsp;<br/>
<%= link_to 'See unused Feature IDs', available_admin_feature_pids_path %> |
<%= new_item_link new_admin_feature_pid_path, 'New feature range' %> |
<%= link_to 'Back to admin', admin_admin_path %>
</p>