<h1>Feature ID Generator</h1>
<p><%= @message %></p>
<p>&nbsp;<br/>
<%= link_to 'See unused Feature IDs', available_admin_feature_pids_path %> |
<%= link_to 'New feature range', new_admin_feature_pid_path %> |
<%= link_to 'Back to admin', admin_admin_path %>
</p>