/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

.titlearea, .breadwrap ol li .icon, .ss-full-tabs.nav-tabs > li.active a, .ss-full-tabs.nav-tabs > li.active a:hover {
    background: none repeat scroll 0 0 #4ca6fb;
}

.inline_h3 {
	font-family: "Times New Roman",Times,serif;
	font-weight: bold;
	color: #5A4722;
	font-size: 15px;
}

.view-on-map {
	display: block;
    margin-top: 5px;
}

.view-on-map img {
	display: inline;
}


#inset_map {
	height: 600px;
	margin-top: 5px !important;
}

#map-column {
	width: 100%;
	float: left;
}