<%= render :partial => 'show', :locals => {:person => @person} %>
<% user = @person.user
   if !user.nil? %>
<%=  render :partial => 'admin/users/show', :locals => {:user => user} %>
<% end %>
<p>&nbsp;<br/>
<%= link_to ts('edit.record', :what => AuthenticatedSystem::Person.model_name.human), edit_admin_person_path(@person) %> |
<%= render :partial => 'persistent_links' %>
</p>