<p>
<%= content_tag :strong, "#{Feature.human_attribute_name(:object_type, :count => feature.feature_object_types.size).s}:" unless feature.object_types.empty? %>
<%= feature.feature_object_types.collect{|fot| [fot, fot.category] }.reject{|a| a[1].nil? }.collect{|a| "#{link_to a[1].header, a[1].get_url(nil, :format => '')}#{note_popup_link_for(a[0])}#{time_units_for(a[0])}"}.join('; ').html_safe %>
<%= note_popup_link_list_for(feature, {:association_type => FeatureObjectType.model_name}) %>
</p>
