<ul>
<% nodes = (defined? children) ? children : node.current_children(current_perspective, current_view)
for child in nodes %>
  <li id="<%= "node_#{child.id}_div" %>">
  <% if @ancestors_for_current.nil? || @ancestors_for_current.empty? || (index = @ancestors_for_current.index(child.id)).nil? %>
    <%= render :partial => 'features/contracted', :object => child, :locals => {:contracted => child} %>
  <% else %>
    <%= render :partial => 'features/expanded', :object => child, :locals => {:expanded => child} %>
  <% end %>
  </li>
<% end %>
</ul>