<%= render :partial => 'top' %>
<div id="FeatureDetail">
  <div class="has-right-margin">
<%= render :partial => 'feature', :locals => {:feature => @feature, :show_old_pid => false} %>
  </div>
</div>
<%= javascript_on_load "document.title = '#{ts 'app.short'} - #{feature_name_header(@feature)}'" %>
<%= render :partial => 'bottom' %>